.activeTabHead {
    color: red;
}

.head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgb(252, 243, 232);
}

.tabHead {
    margin-left: 12px;
}
