.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

// .countContainer {

// }

.buttonContainer {
    display: flex;
    margin-top: 32px;
}

.leftButton {
    margin-right: 100px;
}

.box {
    border: none;
    font-size: 50px;
    // width: fit-content;
}

input {
    border: none;
    outline: none;
    background-color: transparent;
    width: auto;
    /* Add any other styles you want to remove */
  }

