.box {
    // align-content: center;
    // justify-content: center;
    height: 80px;
    width: 160px;
    background-color: aqua;
    text-align:center;
    text-justify: center;
    border-radius: 10px;
    padding: 16px;

}